In [ ]:
import pandas as pd
import plotly.express as px
import numpy as np
import plotly.graph_objects as go
import plotly.figure_factory as ff
from plotly.subplots import make_subplots
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
import xgboost as xgb
from sklearn.metrics import classification_report
from sklearn.decomposition import PCA

In [ ]:
df1 = pd.read_csv("/content/drive/MyDrive/Epsilon AI Project/adult.csv")
df2 = pd.read_csv("/content/drive/MyDrive/Epsilon AI Project/adult.test.csv", header=None)

In [ ]:
df1.head()

,Age,Workclass,Final Weight,Education,EducationNum,Marital Status,Occupation,Relationship,Race,Gender,Capital Gain,capital loss,Hours per Week,Native Country,Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
columns = df1.columns
df2.columns = columns

In [ ]:
df2["Income"].value_counts()

Income
 <=50K.    12435
 >50K.      3846
Name: count, dtype: int64

In [ ]:
df1.shape, df2.shape

((32561, 15), (16281, 15))

In [ ]:
df = pd.concat([df1, df2], axis=0)

In [ ]:
df.shape

(48842, 15)

In [ ]:
df.head()

,Age,Workclass,Final Weight,Education,EducationNum,Marital Status,Occupation,Relationship,Race,Gender,Capital Gain,capital loss,Hours per Week,Native Country,Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48842 entries, 0 to 16280
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             48842 non-null  int64
 1   Workclass       48842 non-null  object
 2   Final Weight    48842 non-null  int64
 3   Education       48842 non-null  object
 4   EducationNum    48842 non-null  int64
 5   Marital Status  48842 non-null  object
 6   Occupation      48842 non-null  object
 7   Relationship    48842 non-null  object
 8   Race            48842 non-null  object
 9   Gender          48842 non-null  object
 10  Capital Gain    48842 non-null  int64
 11  capital loss    48842 non-null  int64
 12  Hours per Week  48842 non-null  int64
 13  Native Country  48842 non-null  object
 14  Income          48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 6.0+ MB

In [ ]:
df.describe()

,Age,Final Weight,EducationNum,Capital Gain,capital loss,Hours per Week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

In [ ]:
df.describe(include="O")

,Workclass,Education,Marital Status,Occupation,Relationship,Race,Gender,Native Country,Income
count,48842,48842,48842,48842,48842,48842,48842,48842,48842
unique,9,16,7,15,6,5,2,42,4
top,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,<=50K
freq,33906,15784,22379,6172,19716,41762,32650,43832,24720

In [ ]:
#We need to edit Income column
#EducationNum is the same as Education
#Removing Native Country column

In [ ]:
df.columns

Index(['Age', 'Workclass', 'Final Weight', 'Education', 'EducationNum',
       'Marital Status', 'Occupation', 'Relationship', 'Race', 'Gender',
       'Capital Gain', 'capital loss', 'Hours per Week', 'Native Country',
       'Income'],
      dtype='object')

#***Data Cleaning***

In [ ]:
for col in df.columns:
  if df[col].dtype in ["O"]:
    df[col].str.replace(r'\s+', '', regex=True)

In [ ]:
df["Workclass"].value_counts() , df["Occupation"].value_counts()

(Workclass
  Private             33906
  Self-emp-not-inc     3862
  Local-gov            3136
  ?                    2799
  State-gov            1981
  Self-emp-inc         1695
  Federal-gov          1432
  Without-pay            21
  Never-worked           10
 Name: count, dtype: int64,
 Occupation
  Prof-specialty       6172
  Craft-repair         6112
  Exec-managerial      6086
  Adm-clerical         5611
  Sales                5504
  Other-service        4923
  Machine-op-inspct    3022
  ?                    2809
  Transport-moving     2355
  Handlers-cleaners    2072
  Farming-fishing      1490
  Tech-support         1446
  Protective-serv       983
  Priv-house-serv       242
  Armed-Forces           15
 Name: count, dtype: int64)

In [ ]:
df.isna().sum()

Age               0
Workclass         0
Final Weight      0
Education         0
EducationNum      0
Marital Status    0
Occupation        0
Relationship      0
Race              0
Gender            0
Capital Gain      0
capital loss      0
Hours per Week    0
Native Country    0
Income            0
dtype: int64

In [ ]:
df["Workclass"].replace(" ?", np.NaN, inplace = True)
df["Occupation"].replace(" ?", np.NaN, inplace = True)

In [ ]:
df.isna().sum()

Age                  0
Workclass         2799
Final Weight         0
Education            0
EducationNum         0
Marital Status       0
Occupation        2809
Relationship         0
Race                 0
Gender               0
Capital Gain         0
capital loss         0
Hours per Week       0
Native Country       0
Income               0
dtype: int64

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.duplicated().sum()

29

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 46004 entries, 0 to 16280
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             46004 non-null  int64
 1   Workclass       46004 non-null  object
 2   Final Weight    46004 non-null  int64
 3   Education       46004 non-null  object
 4   EducationNum    46004 non-null  int64
 5   Marital Status  46004 non-null  object
 6   Occupation      46004 non-null  object
 7   Relationship    46004 non-null  object
 8   Race            46004 non-null  object
 9   Gender          46004 non-null  object
 10  Capital Gain    46004 non-null  int64
 11  capital loss    46004 non-null  int64
 12  Hours per Week  46004 non-null  int64
 13  Native Country  46004 non-null  object
 14  Income          46004 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [ ]:
df.replace({'Income':{">50K.": 0 , "<=50K.": 1," >50K.":0, " <=50K": 1 }},inplace=True)

In [ ]:
df.Income.value_counts()

Income
1    34584
0    11420
Name: count, dtype: int64

# ***Data Preprocessing***

In [ ]:
df.drop(columns=["Native Country", "Education"], inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 46004 entries, 0 to 16280
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             46004 non-null  int64
 1   Workclass       46004 non-null  object
 2   Final Weight    46004 non-null  int64
 3   EducationNum    46004 non-null  int64
 4   Marital Status  46004 non-null  object
 5   Occupation      46004 non-null  object
 6   Relationship    46004 non-null  object
 7   Race            46004 non-null  object
 8   Gender          46004 non-null  object
 9   Capital Gain    46004 non-null  int64
 10  capital loss    46004 non-null  int64
 11  Hours per Week  46004 non-null  int64
 12  Income          46004 non-null  object
dtypes: int64(6), object(7)
memory usage: 4.9+ MB

In [ ]:
 df["Final Weight"].value_counts()

Final Weight
203488    21
120277    19
125892    18
126569    18
190290    17
          ..
154675     1
94174      1
67958      1
173673     1
350977     1
Name: count, Length: 27035, dtype: int64

In [ ]:
df.drop(columns=["Final Weight"], inplace=True)

In [ ]:
label_encoder = LabelEncoder()
df["Gender"] = label_encoder.fit_transform(df["Gender"])
df["Income"] = label_encoder.fit_transform(df["Income"])

In [ ]:
def ohe(data,cols, drop_first=True):
    encoded_data = df.copy()

    for col in cols:
        dumm = pd.get_dummies(data[col], dtype=int, drop_first=drop_first)
        del encoded_data[col]
        encoded_data = pd.concat([encoded_data, dumm], axis=1)

    return encoded_data

df = ohe(df, ['Workclass', 'Marital Status', 'Occupation', 'Relationship', 'Race'])

In [ ]:
df.head()

,Age,EducationNum,Gender,Capital Gain,capital loss,Hours per Week,Income,Local-gov,Private,Self-emp-inc,...,Transport-moving,Not-in-family,Other-relative,Own-child,Unmarried,Wife,Asian-Pac-Islander,Black,Other,White
0,39,13,1,2174,0,40,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
1,50,13,1,0,0,13,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,38,9,1,0,0,40,0,0,1,0,...,0,1,0,0,0,0,0,0,0,1
3,53,7,1,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,28,13,0,0,0,40,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0

In [ ]:
df["Income"].value_counts()

Income
1    34584
0    11420
Name: count, dtype: int64

#***Splitting the Data***

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns=["Income"]), df["Income"], test_size=0.2, random_state=42)

#Classification Using Machine Learning Models

In [ ]:
models = {
    "Logistic Regression": LogisticRegression(),
    "Decision Tree": DecisionTreeClassifier(),
    "Random Forest": RandomForestClassifier(),
    "Gradient Boosting": GradientBoostingClassifier(),
    "AdaBoost": AdaBoostClassifier(),
    "K-Nearest Neighbors": KNeighborsClassifier(),
    #"Support Vector Machine": SVC(),
    "XGBoost": xgb.XGBClassifier()
}

In [ ]:
for model_name, model in models.items():
  model.fit(X_train, y_train)
  print(f"{model_name} Classification Report:")
  print(classification_report(y_test, model.predict(X_test)))
  print("___" * 50 + "\n\n")

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Logistic Regression Classification Report:
              precision    recall  f1-score   support

           0       0.68      0.62      0.65      2302
           1       0.88      0.90      0.89      6899

    accuracy                           0.83      9201
   macro avg       0.78      0.76      0.77      9201
weighted avg       0.83      0.83      0.83      9201

______________________________________________________________________________________________________________________________________________________


Decision Tree Classification Report:
              precision    recall  f1-score   support

           0       0.61      0.67      0.64      2302
           1       0.89      0.86      0.87      6899

    accuracy                           0.81      9201
   macro avg       0.75      0.76      0.76      9201
weighted avg       0.82      0.81      0.81      9201

______________________________________________________________________________________________________________________________________________________


Random Forest Classification Report:
              precision    recall  f1-score   support

           0       0.71      0.64      0.67      2302
           1       0.88      0.91      0.90      6899

    accuracy                           0.84      9201
   macro avg       0.79      0.78      0.78      9201
weighted avg       0.84      0.84      0.84      9201

______________________________________________________________________________________________________________________________________________________


Gradient Boosting Classification Report:
              precision    recall  f1-score   support

           0       0.80      0.61      0.69      2302
           1       0.88      0.95      0.91      6899

    accuracy                           0.86      9201
   macro avg       0.84      0.78      0.80      9201
weighted avg       0.86      0.86      0.86      9201

______________________________________________________________________________________________________________________________________________________


AdaBoost Classification Report:
              precision    recall  f1-score   support

           0       0.78      0.61      0.68      2302
           1       0.88      0.94      0.91      6899

    accuracy                           0.86      9201
   macro avg       0.83      0.78      0.80      9201
weighted avg       0.85      0.86      0.85      9201

______________________________________________________________________________________________________________________________________________________


K-Nearest Neighbors Classification Report:
              precision    recall  f1-score   support

           0       0.70      0.66      0.68      2302
           1       0.89      0.91      0.90      6899

    accuracy                           0.84      9201
   macro avg       0.80      0.78      0.79      9201
weighted avg       0.84      0.84      0.84      9201

______________________________________________________________________________________________________________________________________________________


XGBoost Classification Report:
              precision    recall  f1-score   support

           0       0.79      0.67      0.72      2302
           1       0.90      0.94      0.92      6899

    accuracy                           0.87      9201
   macro avg       0.84      0.80      0.82      9201
weighted avg       0.87      0.87      0.87      9201

______________________________________________________________________________________________________________________________________________________

#Classification Using Deep Neural Network

In [ ]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping

In [ ]:
model = Sequential(
    [
     Dense(32, activation="relu"),
     Dense(128, activation="relu"),
     Dense(364, activation="relu"),
     Dense(1, activation="sigmoid")
    ]
)

early_stopping = EarlyStopping(
    monitor='val_loss',
    patience=5,
    verbose=1,
    restore_best_weights=True)

model.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])
model.fit(X_train, y_train, epochs=200, batch_size=32, validation_data=(X_test, y_test) , callbacks=[early_stopping])

Epoch 1/200
1151/1151  7s 4ms/step - accuracy: 0.7665 - loss: 3.9183 - val_accuracy: 0.7926 - val_loss: 5.1633
Epoch 2/200
1151/1151  3s 2ms/step - accuracy: 0.8201 - loss: 0.9231 - val_accuracy: 0.8323 - val_loss: 0.4057
Epoch 3/200
1151/1151  5s 2ms/step - accuracy: 0.8292 - loss: 0.3674 - val_accuracy: 0.8295 - val_loss: 0.3524
Epoch 4/200
1151/1151  7s 4ms/step - accuracy: 0.8322 - loss: 0.3470 - val_accuracy: 0.8430 - val_loss: 0.3423
Epoch 5/200
1151/1151  3s 2ms/step - accuracy: 0.8357 - loss: 0.3462 - val_accuracy: 0.8425 - val_loss: 0.3429
Epoch 6/200
1151/1151  5s 2ms/step - accuracy: 0.8372 - loss: 0.3545 - val_accuracy: 0.8294 - val_loss: 0.3536
Epoch 7/200
1151/1151  7s 4ms/step - accuracy: 0.8298 - loss: 0.3570 - val_accuracy: 0.8402 - val_loss: 0.3412
Epoch 8/200
1151/1151  3s 2ms/step - accuracy: 0.8271 - loss: 0.3615 - val_accuracy: 0.8144 - val_loss: 0.3729
Epoch 9/200
1151/1151  5s 3ms/step - accuracy: 0.8271 - loss: 0.3598 - val_accuracy: 0.8352 - val_loss: 0.3494
Epoch 10/200
1151/1151  4s 3ms/step - accuracy: 0.8279 - loss: 0.3715 - val_accuracy: 0.8294 - val_loss: 0.3590
Epoch 11/200
1151/1151  4s 3ms/step - accuracy: 0.8195 - loss: 0.3656 - val_accuracy: 0.8266 - val_loss: 0.3626
Epoch 12/200
1151/1151  5s 2ms/step - accuracy: 0.8223 - loss: 0.3649 - val_accuracy: 0.8236 - val_loss: 0.3595
Epoch 12: early stopping
Restoring model weights from the end of the best epoch: 7.

<property object at 0x79e099a2d2b0>

          Feature Importance
0             Age       None
1    EducationNum       None
2          Gender       None
3    Capital Gain       None
4    capital loss       None
5  Hours per Week       None
6          Income       None
7       Local-gov       None
8         Private       None
9    Self-emp-inc       None